<%- include('../partials/header') %>

    <h3>My skills are:</h3>
    <ul>
        <% skills.forEach(function(t) { %>
          <li>
            <a href="/skills/<%= t.id %>"><%= t.skill %></a>
            - 
            <%= t.score %>
          </li>
        <% }); %>
    </ul>

<%- include('../partials/footer') %>