<%- include('../partials/header') %>

    <ul id="skills-list">
        <% skills.forEach(function(t) { %>
          <li class="skill-items">
            <a href="/skills/<%= t.id %>"><%= t.skill %>:</a>
            <p><%= t.score %></p>
          </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add A Skill</a>
<%- include('../partials/footer') %>